.cadastro {
  margin-top: 10px;
  display: flex;
  font-size: 20px;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  border-radius: 8px;
}


.dados {
 display: flex;
 flex-direction: column;
 gap: 10px;
 border-radius: 8px;
 font-size: 20px;
}
