<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">login</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-avatar style="width: 150px;">
    <img alt="logo" src="../../assets/Woodfire (1).png" />
  </ion-avatar>
  <div class="login"
    style="display: flex; justify-content:center; margin-top: 20%; width: 150px; align-items: center; padding: 20px 20px; flex-direction: column; margin-left: 150px; gap: 10PX;">
    <input type="text" placeholder="Digite seu nome">
    <input type="password" name="" id="" placeholder="Senha">
    <input type="submit">
  </div>
</ion-content>