<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Calendário e Lista de Datas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Escolha uma data</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-datetime presentation="date" [(ngModel)]="dataSelecionada" (ionChange)="adicionarData()">
      </ion-datetime>
    </ion-card-content>
  </ion-card>
  <ion-list *ngIf="listaDatas.length > 0">
    <ion-list-header>
      <ion-label>Datas Selecionadas</ion-label>
    </ion-list-header>
    <ion-list *ngFor="let data of listaDatas; let i = index;">
      <ion-label>{{data | date: 'dd/MM/yyyy'}}</ion-label>
      <ion-button fill="clear" color="danger" (click)="removerData(i)">
        Remover
      </ion-button>
    </ion-list>
  </ion-list>
  <ion-item *ngIf="listaDatas.length === 0">
    <ion-label>Nenhuma data selecionada.</ion-label>
  </ion-item>
</ion-content>