<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">home</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1>Seja Bem Vindo à <strong>WoodFire</strong></h1>
  <nav>
    <ul>
      <li><a href="../home/home.page.html"></a>Home</li>
      <li><a href="../elementos/elementos.page.html"></a>Elementos</li>
      <li><a href="../reservas/reservas.page.html"></a>Reservas</li>
    </ul>
  </nav>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="6">
          <div class="col mb-4">
            
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-content>